@page "/"
@inject UIService Service

<NavComponent />
@* <MenuComponent />
<CarouselComponent />
<CardListComponent />
 *@

<div id="viewport" class="d-flex vh-100">
    <CascadingValue Value="Service" Name="Service">
        <AsideComponent OnChange="OnChange"/>
        <ProductMainComponent OnChange="OnChange" />
     </CascadingValue>
</div>

@code{
    void OnChange()
    {

    }
}

@*
   1. Lista Kategorier
      * AsideComponent, ProductComponent, LinkComponent och Link (i Razor Class Library)
      * CategoryHttpClient (ej SessionStorage och filter data till att börja med)
      * UIService (för att hämta data från APIer)
   2. Lista Producter för vald Kategori
      * ProductHttpClient
   3. Lägga till i Kundvagn
   4. Visa Kundvagn
*@